<?xml version="1.0" encoding="utf-8"?>
<InstrumentationEngineConfiguration>
  <InstrumentationMethod>
    <Name>DataDog Tracer</Name>
    <Description>DataDog Tracer</Description>
    <Module>Datadog.Trace.ClrProfiler.Native.dll</Module>
    <ClassGuid>{846F5F1C-F9AE-4B07-969E-05C26BC060D8}</ClassGuid>
    <Priority>50</Priority>
  </InstrumentationMethod>
</InstrumentationEngineConfiguration>
